<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\style\style-index.css">
    <title>Find a Job!!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#">Career Connect</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">services</a>
              <li class="nav-item">
                    <a class="nav-link" href="#">blog</a>
                    
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" >
                  About
                </a>
               
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >Contact</a>
              </li>
            </ul>
            <form class="d-flex" role="search" action="signup.html">  
         <!--connecting to another webpage-->
         <!--<button class="button0" onclick="window.location.href='signup_page_url'">Signup</button>--> 
         <!--<a href="signup_page_url" class="button0">Signup</a>-->     
                    <button class="button0">signup</button>
            </form>
            
             <form class="d-flex" role="search" action="login.html">
               
                    <button class="button1">Login</button>
            </form>


          </div>
        </div>
      </nav>
      <!--..................................................................................................................-->
       <section class="main py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg">
                    <h1>Find Jobs in <br>
                        Single Click</h1>
                    <input type="text" placeholder="Job title or a key word">
                    <button class="btn2 mt-5">find a job</button>
                </div>
               
              

            </div>

        </div>

       </section>
      <!--..................................................................................................................-->
       <section class="ceta py-5">
        <div class="container-fluid py-5 text-center">
            <p class="red">Featured Packages</p>
            <h1>Top Categories</h1>
            <div class="row">
                <div class="col-lg-11 m-auto pt-3">    <!-- /* aligning center*/-->
                    <div class="row py-5">
                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-software-development-50.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>Software Devolopment</h6>
                                <h6 class="red">(24)</h6>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-data-science-48.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>Data Science</h6>
                                <h6 class="red">(20)</h6>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-cloud-technology-66.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>Cloud Tech</h6>
                                <h6 class="red">(14)</h6>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-ux-design-66.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>UI/UX</h6>
                                <h6 class="red">(28)</h6>
                            </div>
                        </div>

                    </div>
                  <!--2nd row-->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-cyber-security-50.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>Cyber Security</h6>
                                <h6 class="red">(5)</h6>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-machine-learning-64.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>MAchine Learning</h6>
                                <h6 class="red">(16)</h6>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-app-development-64.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>Mobile App Devolopment</h6>
                                <h6 class="red">(11)</h6>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <img src="D:\mini\career-connect-mini-project\career-connect-mini\job-matching\project\static\img\icons8-best-sales-48.png" class="img-fluid" style="width: 100px; height: 100px;"  alt="">
                                <h6>Sales</h6>
                                <h6 class="red">(8)</h6>
                            </div>
                        </div>

                    </div>
                   
                    <div class="row py-5">
                        <div class="clg-lg-5 m-auto">
                            <button class="btn3">Brows All Categories</button>
                        </div>
                    </div>

                    </div>

                </div>


            </div>

        </section>
       <!--...................................................................................................................-->
       <section class="resume py-5 text-center text-white">
        <div class="container py-5">
            <div class="row py-5">
                <div class="clg-lg-10 m-auto">
                    <p class="pb-3">Explore futuristic Jobs</p>
                    <h1>"Discover Your Dream Career with Our Premier Job Search Platform"</h1>
                </div>
            </div>
            <div class="row">
                <div class="clg-lg-5 m-auto">
                    <button class="btn3">Get Started</button>
                </div>

            </div>
        </div>

       </section>
<!--...................................................................................................................-->

     <section class="job py-5">
        <div class="container py-5 ">
            <div class="row py-7">
                <div class="col-lg-7 ">
                    <h5 class="red">"Journey Thus Far"</h5>
                    <h1>10K+ Talents Connected With Leading Employers and Opportunities</h1>
                    <p class="py-3" style="font-weight: 700;">Since our inception, we've been committed to revolutionizing the job search experience. We've built a user-friendly platform that connects talented job seekers with top employers across various industries. Through innovative features and intuitive design, we strive to make the job search process seamless and efficient for everyone involved.</p>
                    <p class="py-3">For job seekers, our platform offers unparalleled opportunities to explore a wide range of job listings, from entry-level positions to executive roles. With advanced search filters and personalized recommendations, finding the perfect job has never been easier. Additionally, our platform provides valuable resources such as resume tips, interview guidance, and career advice to help job seekers succeed in their career journey</p>
                    <p class="py-3">For employers, our platform streamlines talent acquisition with easy job posting, applicant management, and candidate screening tools. Access to a diverse pool of qualified candidates and robust analytics empowers efficient hiring decisions. Additionally, our platform enhances employer branding and visibility to attract top talent and reinforce brand reputation</p>
                    <button class="btn4 ">Post a Job</button>
                </div>
            </div>
        </div>
     </section>


    <h1>Find a Job!</h1>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>

  </body>
</html>
